# Ігнорувати файли створені текстовим редактором nano
*~

# Ігнорувати файли логів та тимчасові файли
*.log
*.tmp

# Ігнорувати файли в каталозі з іменем "temp"
/temp/

# Ігнорувати всі файли з певного каталогу
/Japan/
